* {
   
    padding: 0;
    box-sizing: border-box;
 
}


html,body{
    background-color: #F4F4F4  !important;
}



.header{
    padding: 3% 3% 0% 8%;
    margin: 0;
    margin-top: 0;
    position: relative;


}

.head-top{
    display: flex;
}

.site-name{
    width: 20%;
    color: #F27649;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;  
}

nav{
    width: 50%;
    font-size: 20px;
}

input[type=date] {
    text-align: right;
  }
  
  input[type="date"]:before {
    color: grey;
    content: attr(placeholder) !important;
    margin-right: 0.4em;
  }

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    display: contents;
    width: 100%;
    list-style-type: none;
}
.navbar-collapse{
    display: flex;
    justify-content: space-evenly;
    
}

.navbar-collapse a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
   
}


.nav-link{
    color: #4c4c4c !important;
}


a{
    color: #4c4c4c !important;
}

.section-title{
    margin-top: 2%;
    background: rgb(46,31,77);
    background: linear-gradient(90deg, rgba(46,31,77,1) 0%, rgba(140,91,173,1) 45%, rgba(100,0,255,1) 100%);
    
}

#services{
    margin-top:1% ;
}

hr {
    height: 12px;
    background-color: black;
  }

.container{
    width: 100%;
    display: flex;
}

.title-1{
    float: left;
    width: 50%;
}
.title-1 > img{  
    justify-content: center;
    height: 400px;
    width:400px;
    
}

.title-2{
    width: 50%;
    float: right;
    margin-top: 2%;
    padding: 30px 60px 30px;
    background: rgb(46,31,77);
    background: linear-gradient(90deg, rgba(46,31,77,1) 0%, rgba(140,91,173,1) 45%, rgba(100,0,255,1) 100%);
    border-radius:12px;
}

.row{
    border-radius: 12px;
}
.row>*{
    width: 80%;
}

input{
    border-radius: 12px;
    
}
button{
    border-radius: 12px;
}

.btn-primary{
    background-color: #F27649 !important;
    border-color: #F27649 !important; 
}

label{
    color: #F5F5F5;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.site-name > a >img{
    height: 40px;
    width:170px;
    justify-content: center;
    
}


.destinos-blog{
    margin-top: 5%;
}


h1{
    font-size: 30px;
    line-height: 1.1em;
    color: rgb(46,31,77);
    font-weight: 800 36px;
    text-align: center;
    font-weight: bolder;
    
}

h2{  font-size: 20px;
    line-height: 1.1em;
    color: rgb(46,31,77);
    font-weight: 800 36px;
    text-align: center;
    font-weight: bolder;

}
h3{  font-size: 17px;
    line-height: 1.1em;
    color: rgb(46,31,77);
    font-weight: 800 36px;
    text-align: center;
    font-weight: bolder;

}

p{
    margin-left: 4%;
}

.destinos{
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 18%;
}
.img-destino{
    width: 20%;
}

.description-destinos{
    width: 70%;
    margin-left: 2%;
}

img{
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin-left: 5%;
}

.effect-ruby{position: relative; 
float: left;
 overflow: hidden; 
 margin: 10px 1%; 
 min-width: 320px;
  max-width: 480px; 
  max-height: 360px; width: 
  90%; background: rgb(25, 70, 86); 
  text-align: center; 
  cursor: pointer; 
  visibility: visible; 
  animation-delay: 0.1s; 
animation-name: fadeInLeft;
}
.card{

    background-color: #f4f4f4 !important;
    border: 0px !important;
}

.card-body{
    background-color: rgb(46,31,77);
    color:#F4F4F4;
    text-align: center;
    font-size: 15px;
    margin-left: 4%;
    width: 290px;
   

}
footer{
    margin-top: 3%;
    background: rgb(46,31,77);
    background: linear-gradient(90deg, rgba(46,31,77,1) 0%, rgba(140,91,173,1) 45%, rgba(100,0,255,1) 100%);
    padding:0px 0 00px 0;
    overflow: hidden;
}

.text-muted{
    background: rgb(46,31,77);
  
}

.logos{
    margin-top: 3%;
    align-items: center;
}

.p-4{
    color:#F5F5F5;
}


.border-bottom{
    background: rgb(46,31,77);
    background: linear-gradient(90deg, rgba(46,31,77,1) 0%, rgba(140,91,173,1) 45%, rgba(100,0,255,1) 100%);
    
}

.result-data{
    background:white;
    
    align-content: center;
    margin-left: 15%;
    font-size: 24px;
}

.btn-comprar{
    border-radius: 10px;
    color: white;
    font-size: 30px;
    background-color: #38B1EE;
}
.container-result{
    display: flex;

}

.btn.btn-primary{
   
    cursor:pointer;
    border-radius: 0.25rem;
}

.Thankyou{
    margin-top: 13%;
    font-size: 85px;
    color: #007bff;
    font-weight: bolder;
}

.section-thankyou{
  background-image: url('/static/img/background-thk.jpg');
}
/*Media Queries*/
@media (max-width:1100px){
    .services.sec-width .destinos{
        grid-template-columns: 1fr;
    }
}

@media (max-width:768px){

    .head-top{
        flex-direction: column;
        display: flex;
    }
    .site-name{
        width: 30%;
        float: left;
    }
    .navbar.navbar-expand-lg.navbar-light {
       
            width: 100%;
        }
      

    .collapse {
        display: flex !important;
      }

    img{
        height: 50px;
        width: 50px;
        border-radius: 5px;
        margin-left: 5%;
    }
    .container{
        width: 100%;
        display: block ;
    }

    .result{
        margin-top: 100%;
    }

    .row.row-cols-3{
        margin-left: 4%;
    }

    .card-img-top>img{

        height: 60px;
        width: 60px;
    }

    .card-img-top>img{
        height: 50px;
        width: 50px;
    }

    .card-title>h5{
        font-size: 18px;
    }
    .card-title>h4{
        font-size: 18px;
    }
    .card-title>p{
        font-size: 12px;
    }
    
    .card-text>p{
        font-size: 12px;
    }


    .title-1 > img{  
        display: none;
        justify-content: center;
        height:150px;
        width:150px;
    }       
    .title-2{
        width: 100%;
        float: right;
        margin-top: 2%;
        padding: 5px 20px 10px;
        background: rgb(46,31,77);
        background: linear-gradient(90deg, rgba(46,31,77,1) 0%, rgba(140,91,173,1) 45%, rgba(100,0,255,1) 100%);
        border-radius:12px;
    }

    .site-name >img{
        height: 30px;
        width:140px;
        justify-content: center;
        
    }
    h1{
        font-size: 10px;
        line-height: 1.1em;
        color: rgb(46,31,77);
        font-weight: 800 36px;
        text-align: center;
        font-weight: bolder;
        
    }
    
    h2{  font-size: 10px;
        line-height: 1.1em;
        color: rgb(46,31,77);
        font-weight: 800 36px;
        text-align: center;
        font-weight: bolder;
    
    }
    h3{  font-size: 7px;
        line-height: 1.1em;
        color: rgb(46,31,77);
        font-weight: 800 36px;
        text-align: center;
        font-weight: bolder;
    
    }

    .title-1 h3 {font-family: Montserrat,sans-serif;
        font-size: 39px;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        max-width: 544px;
    }

    .destinos{
        display: block;
       
    
    
    }

    .card{
        margin-top: 4%;
    }

    .card-body{
        width: 290px;
    }
    .card-img-top{
        height: 150px;
        width: 100%;
    }

    .img-destinos >img{
        height: 200px;
        width: 250px;
        margin-left: 15%;
    }
    .img-destinos{
        display: block;
        align-items: center;
       
    }

    .description-destinos{
        width: 85%;
    }
}
